[user]
    name = Nimjii
    email = lspreitzer525@gmail.com
[core]
    autocrlf = input
    filemode = true
[pull]
    rebase = true
[alias]
    lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(Yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
    clone-for-worktrees = "!sh $HOME/git-clone-for-worktrees.sh"
[rerere]
    enabled = true
