[user]
    name = Nimjii
    email = lspreitzer525@gmail.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEi+PliWQHfzEd4cHht/w2gzX1bJ1kp/5SR8QFWnIKR8
[core]
    autocrlf = input
    filemode = true
[gpg]
    format = ssh
[gpg "ssh"]
    program = "/opt/1Password/op-ssh-sign"
[commit]
    gpgSign = true
[pull]
    rebase = true
[alias]
    lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(Yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
    clone-for-worktrees = "!sh $HOME/git-clone-for-worktrees.sh"
[rerere]
    enabled = true
[init]
    defaultBranch = main
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
    trustExitCode = true
[difftool "nvimdiff"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[merge]
    tool = nvimmerge
[mergetool]
    keepBackup = false
    prompt = false
    trustExitCode = true
[mergetool "nvimmerge"]
    cmd = nvim -d \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\" -c \"wincmd J\"
